<h1>Create a new figure!</h1>
<form action="/figures" method="post">
  <label for="figure_name">Figure Name:</label>
  <input id="figure_name" type="text" name="figure[name]"><br><br><br>

  <label>Choose a title for your new figure:</label><br>
  <%Title.all.each do |title|%>
    <input id="title_<%=title.id%>" type="checkbox" name="figure[title_ids][]" value="<%=title.id%>"><%=title.name%></input>
  <% end %><br><br>

  <label for="new_title">Or, create a title for your new figure:</label><br>
  <input id="new_title" type="text" name="title[name]"><br><br><br>

  <label>Choose a landmark for your new figure:</label><br>
  <%Landmark.all.each do |landmark|%>
    <input id="landmark_<%=landmark.id%>" type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>"><%=landmark.name%></input>
  <% end %><br><br>

  <label for="new_landmark">Or, create a landmark for your new figure:</label><br>
  <input id="new_landmark" type="text" name="landmark[name]"><br><br><br>

  <input type="submit" value="Create New Figure">
</form>
